<html>
<meta charset="UTF-8">

<head>

<title>Computer Collection</title>
<link href="/atlas/css/defaults.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/form.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/grid.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/list.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/modal.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/navigation.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/teletype-theme.css" rel="stylesheet" type="text/css" media="all"></link>
<link
    href="/atlas/open-iconic/font/css/open-iconic.css"
    rel="stylesheet"
    type="text/css"
    media="all">
</link>

</head>

<body>

<div id="modal-container" class="modal-container"></div>
<ul class="navigation navigation-pages">
    <li>
        <span class="oi" data-glyph="home" aria-hidden="true"> </span>
        <a href="index.html">Home</a>
    </li>
    <li>
        <span class="oi" data-glyph="list" aria-hidden="true"> </span>
        <a href="manage.html">Manage</a>
    </li>
</ul>
<ul id="navigation" class="navigation navigation-breadcrumbs"></ul>
<div id="template-content" class="content"></div>

<script type="text/template" id="modal-template">
<div class="modal">
    <div class="modal-dialog">
        <form class="modal-content" name="modal-content">
        </form>
    </div>
    <div class="modal-button-box">
        <% if(_(buttons).has(['close'])) { %>
        <button type="button" name="close">
            <span class="oi" data-glyph="x" aria-hidden="true"> </span>
            Close
        </button>
        <% } %>
        <% if(_(buttons).has(['cancel'])) print('<button type="button" name="cancel">Cancel</button>'); %>
        <% if(_(buttons).has(['no'])) { %>
        <button type="button" name="no">
            <span class="oi" data-glyph="x" aria-hidden="true"> </span>
            No
        </button>
        <% } %>


        <% if(_(buttons).has(['destroy'])) { %>
        <button type="button" name="destroy">
            <span class="oi" data-glyph="trash" aria-hidden="true"> </span>
            Delete
        </button>
        <% } %>
        <% if(_(buttons).has(['save'])) { %>
        <button type="button" name="save">
            <span class="oi" data-glyph="check" aria-hidden="true"> </span>
            Save
        </button>
        <% } %>
        <% if(_(buttons).has(['create'])) { %>
        <button type="button" name="create">
            <span class="oi" data-glyph="check" aria-hidden="true"> </span>
            Create
        </button>
        <% } %>
        <% if(_(buttons).has(['yes'])) { %>
        <button type="button" name="yes">
            <span class="oi" data-glyph="check" aria-hidden="true"> </span>
            Yes
        </button>
        <% } %>
    </div>
</div>
</script>

<script type="text/template" id="homepage-template">
<h1 name="application_title"></h1>
<div class="grid">
    <div class="col-1-3">
        <h2>Top Five Makers</h2>
        <ul class="text-list action-list" id="top-makers"></ul>
    </div>
    <div class="col-1-3">
        <h2>Top Five Types</h2>
        <ul class="text-list action-list" id="top-types"></ul>
    </div>
    <div class="col-1-3">
        <h2>Browse</h2>
        <ul class="text-list action-list">
            <li><a name="typecollection">All Types</a></li>
            <li><a name="makercollection">All Makers</a></li>
            <li><a name="timeline">Timeline</a></li>
        </ul>
        <h2>Tools</h2>
        <ul class="text-list action-list">
            <li><a href="manage.html">Manage Collection</a></li>
            <li><a name="new-item">New Item</a></li>
        </ul>
    </div>
</div>
</script>

<script type="text/template" id="makerpage-template">
<div name="details"></div>
<div class="button-box">
    <button name="new-item">
        <span class="oi" data-glyph="plus" aria-hidden="true"> </span>
        New <%-maker_name%> Item
    </button>
</div>
<ul name="items" class="text-list action-list"></ul>
</script>

<script type="text/template" id="typepage-template">
<div name="details"></div>
<div class="button-box">
    <button name="new-item">
        <span class="oi" data-glyph="plus" aria-hidden="true"> </span>
        New <%-type_name%> Item
    </button>
</div>
<ul name="items" class="text-list action-list"></ul>
</script>

<script type="text/template" id="makerdetails-template">
<p>Maker name: <%-maker_name%>
</script>

<script type="text/template" id="itemform-template">
<h2><% if(isNew) { print('New Item'); } else { print('Edit ' + item_name); } %></h2>
<div class="aligned">
    <div class="group">
        <label>Type <select name="type_id"></select>
    </div>
    <div class="group">
        <label>Maker <select name="maker_id"></select></label>
    </div>
    <div class="group">
        <label>
            Release year
            <input type="number" name="item_year" value="<%-item_year%>">
        </label>
    </div>
    <div class="group">
        <label>
            Name
            <input type="text" name="item_name" value="<%-item_name%>"></input>
        </label>
    </div>
    <div class="group">
        <label>General notes <textarea name="item_notes"><%-item_notes%></textarea></label>
    </div>
</div>

<h3>Condition</h3>

<div class="aligned">
    <div class="group">
        <label>
            Rating
            <select name="item_cond">
                <option value="1"<% if(item_cond==1) { print(' selected'); } %>>1</option>
                <option value="2"<% if(item_cond==2) { print(' selected'); } %>>2</option>
                <option value="3"<% if(item_cond==3) { print(' selected'); } %>>3</option>
                <option value="4"<% if(item_cond==4) { print(' selected'); } %>>4</option>
                <option value="5"<% if(item_cond==5) { print(' selected'); } %>>5</option>
            </select>
        </label>
    </div>
    <div class="group">
        <label>
            Condition notes
            <textarea name="item_cond_notes"><%-item_cond_notes%></textarea>
        </label>
    </div>
</div>
</script>

<script type="text/template" id="imageupload-template">
<div name="messagebox"></div>

<div class="aligned">
    <div class="group">
        <label>Title<input type="text" name="attachment_title"></input></label>
    </div>
    <div class="group">
        <label>
            File
            <input accept="image/*" type="file" name="attachment_data"></input>
        </label>
    </div>
</div>
</script>

<script type="text/template" id="itempage-template">
<div class="button-box">
    <button name="edit">Edit Item</button>
    <button name="destroy">Delete Item</button>
</div>
<h1><%-item_name%></h1>

<h2>Images</h2>
<div class="button-box"><button name="addimage">Add Image</button></div>
<ul class="action-list image-list" name="images"></ul>

<h2>General Information</h2>
<emph>Year of Release</emph> <%-item_year%>

<h3>Notes</h3>
<p>
<% if(item_notes != '') { %>
<%-item_notes%>
<% } else { %>
<emph>No notes</emph>
<% } %>

<h2>Condition</h2>
<emph>Rating</emph>
<% for(var i = 0; i < item_cond; ++i) { %>
<span class="oi" data-glyph="star"></span>
<% } %>
<% for(var i = item_cond; i < 5; ++i) { %>
<span class="oi disabled" data-glyph="star"></span>
<% } %>
<% if(item_cond == 0) { %>
<emph>Not set</emph>
<% } %>

<h3>Notes</h3>
<p>
<% if(item_cond_notes != '') { %>
<%-item_cond_notes%>
<% } else { %>
<emph>No notes</emph>
<% } %>
</script>

<script type="text/template" id="itemimageform-template">
<h2><%-attachment_title%></h2>
<figure>
<img src="<%-url%>" alt="<%-alt%>">
<br>
<caption><%-alt%></caption>
</figure>

<div class="aligned">
    <div class="group">
        <label>
            Title
            <input type="text" name="attachment_title" value="<%-attachment_title%>">
        </label>
    </div>
</div>
</script>

<script type="text/template" id="typecollectionpage-template">
<h2>Types</h2>
<ul class="action-list action-list-large text-list" name="types"></ul>
</script>

<script type="text/template" id="makercollectionpage-template">
<h2>Makers</h2>
<ul class="action-list action-list-large text-list" name="makers"></ul>
</script>

<script type="text/template" id="timelinepage-template">
<h2>Timeline</h2>
<ul class="action-list text-list" name="items"></ul>
</script>

<script type="text/javascript" src="/atlas/underscore.js"></script>
<script type="text/javascript" src="/atlas/backbone.js"></script>
<script type="text/javascript" src="/atlas/jquery.js"></script>
<script type="text/javascript" src="/atlas/stacked_application.js"></script>
<script type="text/javascript" src="models.js"></script>
<script type="text/javascript" src="application.js"></script>
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript">
Backbone.$ = $;
var gApplication = new Application(HomePage);
gApplication.goHome();
</script>

</body>

</html>

